<style> 
img{ border-style: solid; } #imgWrapper{ padding-left: 25%; }

footer{
    background light blue;
    border-radius: 5px; 
    color white;
    font-family: ariel, san-serif;
    font size: 30px;
    
}

</style>