<!-- Sarah workman, Pretty about you, 09/12/2021-->

<style> 
section {
  display: grid;
  grid-template-columns: auto auto;
  border-color: Black;
 
  
}

img{ border-style: solid; } 
#imgWrapper{ padding-left: 25%; }
nav{font-family: arial, san-serif;
  font-size: 30px;}

footer{
    background: light blue;
    border-radius: 5px; 
   
    color: white;
    font-family: ariel, san-serif;
    font size: 30px;
    
}

</style>
