<!-- Sarah workman, Pretty about you, 09/12/2021-->

<style> 
section {
  display: grid;
  grid-template-columns: auto auto;
  border: 5px solid black;
  background: blue;
  padding: 25px;
 
  
}

img{ border-style: solid; } 


nav{font-family: arial, san-serif;
  font-size: 30px;}

footer{
    background:  blue;
    border-radius: 5px; 
   
    color: white;
    font-family: ariel, san-serif;
    font-size: 30px;
    
}

</style>
